
<!DOCTYPE html>
<html>
<head>
    <title>CodeHut Development</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">

    <style>
        html, body {
            height: 100%;
        }

        body {
            background-image: url('/images/background.png');
            background-repeat: repeat-x;
            background-color: #0154a9;
            background-size: auto 62%;
            margin: 0;
            padding: 0;
            width: 100%;
            display: table;
            font-weight: 100;
            font-family: 'Lato';
        }

        .container {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

        .content {
            text-align: center;
            display: inline-block;
        }

        .title {
            font-size: 96px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="title"><img src="~/images/chd_namebadge.png" width="1000px" /></div>
            <div><img src="~/images/codehut_logo.png" width="800px" /></div>
            <div style="font-size: 2em;font-weight: bold;color: #fff;">Thanks for stopping by.  We are currently out enjoying some time off after moving to our new server (it was a very long swim).<br />Check back later for all your custom coding needs</div>
            <br />
            <div style="font-size: .75em;font-weight: bold;">Last Update: 11 OCT 2016</div>
        </div>
    </div>

</body>
</html>